body{
  font-family: 'nunito', Helvetica, sans-serif;
  margin: 5rem;
}

#toc {
  list-style-type: none;
  line-height: 2rem;
}

@font-face {
    font-family: 'nunito';
    src: url('../fonts/Nunito-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunitoBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
